# Note 1: Data Frame

In [2]:
import pandas as pd

In [3]:
dict1 = {"country"  : ["Brazil", "Russia", "India", "China", "South Africa"],
        "capital"   : ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
        "area"      : [8.516, 17.10, 3.286, 9.597, 1.221],
        "population": [200.4, 143.5, 1252, 1357, 52.98] }

# convert into pandas dataframe
brics = pd.DataFrame(dict1)
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [4]:
# count column
count_column = brics.shape[1]  # have to use 1
print(count_column)

# count row
count_row = brics.shape[0]     # have to use 0
print(count_row)

4
5

# Note 2: CSV file

In [5]:
x = pd.read_csv('test3.csv', header=0, sep=',')
y = pd.DataFrame(x)

# clean data from null values and non numeric
x.dropna(axis=0, inplace=True)   # use .dropna()

# read slicing
print (y[0:6])

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0

In [6]:
# change data type in table
x['Duration'] = x['Duration'].astype(float)
x['Pulse'] = x['Pulse'].astype(float)
x['Maxpulse'] = x['Maxpulse'].astype(float)

# data type in table
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [8]:
# count aggregat
y.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000