# Note 1: Introduction

In [ ]:
print ("Hello World!")

# Note 2: Format Print

In [ ]:
# string
nama = 'Malika'
# integer
umur = 17

# casting ke str
print (nama + "\n" + str(umur))

In [ ]:
# slicing variable
data = "Hello world!"
print(data[2])      # l
print(data[-2])     # d
print(data[2:8])    # llo wo
print(data[:8])     # Hello wo
print(data[:-2])    # Hello worl
print(data[-2:])    # d!
print(data[1:10:3]) # eoo 
print(data[0:12:4]) # [0:12:4] same as [::4])
print(data[::-1])   # !dlrow olleH

### Metode %<br>
>Format<br>
>%s - String (or any object with a string representation, like numbers)<br>
>%d - Integers<br>
>%f - Floating point numbers<br>
>%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot<br>
>%x/%X - Integers in hex representation (lowercase/uppercase)<br>
>
>Any object which is not a string can be formatted using the %s operator as well. The string which returns is formatted as the string<br>

In [ ]:
# contoh 1
print ('%s umurnya %s' %(nama, umur))

# contoh 2
data = 1
print ('%s' % data)

# contoh 3
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."
print(format_string % data)

### metode {}.format()

In [ ]:
# contoh 1
print ('{1} umurnya {0}'.format(nama, umur))

In [ ]:
# contoh 2
planet = "Pluto"
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390.9
# print 'Pluto weighs about 1.3e+22 kilograms (0.22% of Earth's mass).
#        It is home to 52,910,390.9 Plutonians.'
print ("""{} weighs about {:.2} kilograms ({:.2%} of Earth's mass).
      It is home to {:,} Plutonians.""".
      format(planet, pluto_mass, pluto_mass/earth_mass, population))

### string method
>.abs()<br>
>.endswith()<br>
>.index()<br>
>.isdigit()<br>
>.join()<br>
>.lower()<br>
>.replace<br>
>.split()<br>
>.startswith()<br>
>.upper()<br>
>.count()<br>

In [ ]:
# split method
claim1 = 'Pluto is a planet!'
x = claim1.split()
print (x) # print ['Pluto', 'is', 'a', 'planet!']

In [ ]:
claim1 = 'Pluto-is-a-planet!'
a,b,c,d = claim1.split('-')
print (a) # print 'Pluto'

In [ ]:
# join method
claim2 = ['Pluto', 'is', 'a', 'planet!']
y = ' üëè '.join([word for word in claim2])
print (y) # print 'Pluto üëè is üëè a üëè planet!'

In [ ]:
# replace method
claim3 = 'Pluto is a planet!'
claim3Underscore = claim1.replace(' ', '_')
print (claim3Underscore) # print 'Pluto_is_a_planet!'

In [ ]:
# isdigit method
x = '12345678x'
print (str.isdigit(x)) # print False

In [ ]:
# quote type
print("Pluto's a planet!")       # print with one quote
print('My dog is named "Pluto"') # print with two quote

# Note 3: Input

In [ ]:
# input 1
nama = input("Siapa nama kamu? ")
umur = input("Berapa umur kamu? ")
print ("Salam kenal ya " + nama + " diumur kamu yang ke " + umur)

In [ ]:
# input 2
baik = True
imut = True
tipe = 'wanita'
# if can make into branch
if baik and imut:
  if tipe == input(''):
    print ("Gas")
  else:
    print ('engga dlu')

# Note 4: Type of Variable and If Function

### Variable Type
```python
int     #integer
float   #float
str     #string
bool    #boolean
complex #complex
```

In [ ]:
print ("a: eh bayar utanglu sini.")
print ("b: ywdh nih gw bayar.")
print ("a: lu punya uang berapa?")

uang = input("b: ")
utang = 10000

# elif bisa ditulis lebih dari sekali
if int(uang) == utang:
  print ("a: oke lunas ya")
elif int(uang) < 5000:
  print ("a: yaampun miskin banget")
elif int(uang) < utang:
  print ("a: duitnya kurang bang")
else:
  print ("a: anjay tumben lu lebihin bayar utang")

# Note 5: Boolean

### boolean operator
```Python
==, !=, >, <, >=, <=
and = &  (kalau keduanya true)
or  = |  (kalau salah satunya true)
not = != (buat bikin pernyataan jadi sebaliknya)
```

In [ ]:
x = 10
y = 5
z = -3
if x > y and y < x:
  print ('keduanya benar')

if x > y or x < y:
  print ('salah satunya salah')

if not x < y:
  print ('iya itu tidak benar')

# Note 6: While

In [ ]:
# while gunanya untuk bikin pengulangan
x = 1
while x < 5:
  print ("lanjut.")
  x = x + 1
else:
  print ('berhenti di' , x)

In [ ]:
# fungsi break untuk berhenti saat mencapai nilai tertentu
x = 0
while True:
    print(x)
    x = x + 1
    if x >= 5:
        break

In [ ]:
# make a Pyramid1
a = 1
while a <= 5:
  b = 0
  while b < a:
    print ('*', end="") # end biar next print nyatu
    b = b + 1
    # diperlukan var baru karena jika memakai var sebelumnya
    # akan mengubah nilainya ketika diloop pertama
    # dari seharusnya 1=2=3=4 jika menggunakan 1 var akan
    # menjadi 1=2=1=2=1
  print ()
  a = a + 1

In [ ]:
x = 1
bintang = ""
while x <= 5: 
  y = x
  while y > 0:
    bintang = bintang + "*" # dapat ditulis bintang += "*"
    y = y - 1
  bintang = bintang + "\n"
  x = x + 1 
print (bintang)

# Note 7: For and Tuple

### For

In [ ]:
# fungsi for
for a in range(1,5):
  for b in range (1,5):
    c = a*b
    print (c, end=" ")
  print ()

In [ ]:
# for x in var gunanya buat loop isi dari variabel atau list
nama = ['Ani', 'Budi', 'Cika']
nama1 = 'Budi'
for x in nama:
  print ('ini namaya ', nama)
for x in nama1:
  print (nama)

In [ ]:
# fungsi continue to skip command
for x in range(10):
    if x % 2 == 0:
        continue
    print(x) # 1,3,5,7,9

In [ ]:
# for loop dari modul built in
import re
for x in dir(re):
    if 'find' in x:
        print (x)

Example

In [ ]:
# exaFor 1 (print only uppercase letter in string)
s = 'steganograpHy is the practicE of conceaLing a fiLe Or video.'
for char in s:
    if char.isupper():      # use isupper
        print(char, end='') # HELLO

### Tuple

In [ ]:
# tuple () mirip list bedanya dia immutable (gabisa pake method)
nama1 = ('Ale', 'Bidi', 'Coki')
nama2 = ['Ale', 'Bidi', 'Coki']

print (nama1[0])
print (len(nama1))  # jumlah data
print (max(nama1))  # tertinggi
print (list(nama1)) # ganti ke list
print (tuple(nama2))

# Note 8: List

In [40]:
# list tandanya pake []
nama = ['Ani', 'Budi', 'Cika']
nama1 = 'Budi'
angka = [1,2,3]

In [ ]:
# cara akses list
x, y, z = nama
print (x, y, z, sep='_') # sep to change space between values
print (nama[0])

In [ ]:
# method in list
nama.append ('Diki')  # nambahin
nama[0] = 'Akel'      # ganti
del nama[1]           # hapus metode 1
nama.pop(1)           # hapus metode 2
nama.index('Budi')    # akses index
nama.count('Budi')    # how much budi data
len(nama)             # jumlah data di  list
sorted(nama)          # urutin list
sum(angka)            # total list
print (nama)
print (nama[0])

In [ ]:
# list in list
nama = [['Ani', 'Budi', 'Cika'],
        ['Andi', 'Bina', 'Cita']]
x = nama[1][0]  # acces method
print (x)       # andi

Comprehension List

In [ ]:
# exaCompreList 1 (print length word except 'the')
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
# basic code
word_lengths = []
for word in words:
  if word != "the":
    word_lengths.append (len(word))
# comprehen with just one code
word_lengths = [len(word) for word in words if word != "the"]
print(word_lengths)

In [ ]:
# exaCompreList 2
data1 = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
integer = [int(x) for x in data1 if x > 0]
print(integer)

In [ ]:
# exaCompreList 3
squares = [n**2 for n in range(10)]
print (squares)

In [ ]:
# exaCompreList 4
planets = ['Mercurius', 'Venus', 'Earth', 'Mars', 'Jupiter',
           'Saturnus', 'Uranus', 'Neptunus']
short_planets = [planet for planet in planets if len(planet) < 6]
print (short_planets)

In [ ]:
# exaCompreList 5(count negative number in list)
nums = [5, -1, -2, 0, 3]
n_negative = 0
for num in nums:
    if num < 0:
        n_negative = n_negative + 1
print (n_negative)
  # can be comprehen into this
print (len([num for num in nums if num < 0]))
  # or into this
print (sum([num < 0 for num in nums]))

In [ ]:
# exaCompreList 6 (check lucky number in list (luckNumb = 7))
nums = [1,2,3,4,5,6,7]
for num in nums:
    if num % 7 == 0:
        print (True)
    else:
        continue
  # comprehen into this
print (any([num % 7 == 0 for num in nums]))

>line

<code>Python
str = "This is a block level code"
print(str)
</code>

```Python
str = "This is block level code"
print(str)
```
*line* <br> **line**